includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 0
    paths:
        - %currentWorkingDirectory%/tests/
    ignoreErrors:
        - '#Class GacelaTest\\Unit\\Framework\\Container\\NonExisting not found.#'
        - '#Creating new PHPStan\\Node\\InClassNode is not covered by backward compatibility promise#'
