parameters:
    ignoreErrors:
        # Ignore magic methods from Gacela ServiceResolverAwareTrait (resolved via #[ServiceMap] attributes)
        - '#Call to an undefined method .+::(getFacade|getFactory|getConfig)\(\)\.$#'

services:
    -
        class: Gacela\PHPStan\Rules\SuffixExtendsRule
        tags: [phpstan.rules.rule]
        arguments:
            suffix: Facade
            expectedParent: Gacela\Framework\AbstractFacade
    -
        class: Gacela\PHPStan\Rules\SuffixExtendsRule
        tags: [phpstan.rules.rule]
        arguments:
            suffix: Factory
            expectedParent: Gacela\Framework\AbstractFactory
    -
        class: Gacela\PHPStan\Rules\SuffixExtendsRule
        tags: [phpstan.rules.rule]
        arguments:
            suffix: Provider
            expectedParent: Gacela\Framework\AbstractProvider
    -
        class: Gacela\PHPStan\Rules\SuffixExtendsRule
        tags: [phpstan.rules.rule]
        arguments:
            suffix: Config
            expectedParent: Gacela\Framework\AbstractConfig
    -
        class: Gacela\PHPStan\Rules\FacadeOnlyDelegatesRule
        tags: [phpstan.rules.rule]
    -
        class: Gacela\PHPStan\Rules\FactoryDoesNotCallFacadeRule
        tags: [phpstan.rules.rule]
    # Opt-in: enable by passing your project's root namespace (and, if needed,
    # how many segments beneath that root identify a module).
    # -
    #     class: Gacela\PHPStan\Rules\CrossModuleViaFacadeRule
    #     tags: [phpstan.rules.rule]
    #     arguments:
    #         rootNamespace: App\Modules
    #         modulePathSegments: 1
