parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Method Gacela\\.*::.* should return class-string.*but returns string#'
        - '#Method Gacela\\.*::.* should return array<.*> but returns array#'
        - '#Method Gacela\\.*::.* should return array{.*} but returns array#'
        - '#Method .*::__callStatic\(\) has no return type specified.*#'
        - '#Method .*::__call\(\) has no return type specified.*#'
        - '#.* calls parent::__call.*\(\) but .* does not extend any class.#'
        - '#Cannot cast mixed to string.#'
