<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         executionOrder="random"
         processIsolation="false"
         resolveDependencies="true"
         stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         failOnWarning="true"
         failOnNotice="true"
         failOnPhpunitWarning="true"
         failOnPhpunitNotice="true"
         failOnPhpunitDeprecation="true"
>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">tests/Unit</directory>
      <directory suffix="Test.php">bridges/symfony-bridge/tests</directory>
      <directory suffix="Test.php">bridges/laravel-bridge/tests</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix="Test.php">tests/Integration</directory>
    </testsuite>
    <testsuite name="feature">
      <directory suffix="Test.php">tests/Feature</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">bridges/symfony-bridge/src</directory>
      <directory suffix=".php">bridges/laravel-bridge/src</directory>
    </include>
  </source>
</phpunit>
