# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

on:
  pull_request:
  push:
    branches:
      - main

name: Mutation Tests

jobs:

  mutation-tests:
    name: Mutation Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: xdebug
          tools: composer

      - name: Install dependencies
        run: composer install --prefer-dist

      - name: Run mutation tests
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
        run: XDEBUG_MODE=coverage ./vendor/bin/infection --show-mutations --threads=max
